h1, h2, h3, h4, h5, h6, span {
  font-family: "Fira Sans";
  color: #2ba6cb;
}
header {
  background-color: #ffcccc;
  z-index: 10;
  padding-bottom: 10px;
}
.header {
  justify-content: space-between;
}
.headerLogo {
  width: 20%;
}
.headerLogo.medium-6 {
  float: center;
}
#responsiveMenu {
  z-index: 100;
}
#wowslider-container1 {
  z-index: 10;
}
.dropdown.menu li {
  list-style: none;
}
.dropdown.menu a{
  color: white;
}
.dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a {
  transition: all ease-in-out 300ms;
}
.dropdown.menu a:hover {
  background: pink;
  color: #C12957;
  transition: all ease-in-out 300ms;
}
.dropdown .is-dropdown-submenu a {
  color : #2ba6cb
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: #c21674 transparent transparent;
}
.align-bottom {
  -ms-flex-align: stretch;
  align-items: inherit;
}
.drilldown .is-drilldown-submenu a {
  padding: 0.7rem 1rem;
  margin-left: 50px;
}
#spanNewsletter {
  font-size: 0.9rem;
}
#responsiveMenu li ul {
  margin: 0;
  color : #2ba6cb;
}
.block-title h3 a{
  color : black;
}
.content-details h3 {
  font-size: 1rem;
}
.shopping-cart-item{
  width: 65%;
}
.shopping-cart-item img {
  width: 35%;
  height: 50%;
}
.textShopping {
  color: white;
}
.shopping-cart-button {
  padding: 0.6rem;
}
.shopping-cart-button:hover {
  background-color: pink;
}
.shopping-cart-button i {
  margin-right: 0.5rem;
}
.shopping-cart-dropdown-pane .dropdown-pane {
  padding: 0;
}
.shopping-cart-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}
.shopping-cart-item-name, .shopping-cart-item-price {
  padding: 0 1rem;
}
.shopping-cart-item-name p, .shopping-cart-item-price p {
  margin: 0;
  padding: 0;
}
.shopping-cart-title {
  font-weight: bold;
}
.shopping-cart-checkout {
  padding: 0.5rem;
  margin-bottom: 0;
  background: pink;
}
@media print, screen and (min-width: 64em) {
  .menu.large-horizontal {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    top: 23%;
  }
}

@media print, screen and (min-width: 64em) {
  .dropdown.menu.large-horizontal > li.opens-right > .is-dropdown-submenu {
      top: 75%;
      right: auto;
      left: 0;
  }
}
/*****

Footer

****/
footer {
  background-color: #ffcccc;
}
.footerLogo {
  border-bottom: 1px solid white;
}
.footerLogo img {
  width: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footerLinks {
  padding: 20px 0;
}
footer .block-title span {
  font-size: 1.2rem;
  color : white;
}
footer .block-title h3 {
  font-size: 0.9rem;
  color : black;
}
.footerBox {
  justify-content: space-around;
}
.block-title h3 a{
  color : black;
}
.socialIcons {
  width: 12%;
}
.displayBlock {
  display: block;
}
/*****

Produits

****/
.product {
  justify-content: space-between;
  margin-bottom: 40px;
}
.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}
.container{
  padding: 1em 0;
  float: left;
  width: 50%;
}
.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}
.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}
.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay{
  opacity: 1;
}
.content-image{
  width: 100%;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.content-details p{
  color: #fff;
  font-size: 0.8em;
}
.fadeIn-bottom{
  top: 80%;
}
.fadeIn-top{
  top: 20%;
}
.fadeIn-left{
  left: 20%;
}
.fadeIn-right{
  left: 80%;
}
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}
